@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input {
    @apply p-2 rounded-xl m-2 outline-none;
    /* border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    margin: 5px; */
  }
}
